[Unit]
Description=StreamDude is a simple playlist manager to remotely send files to a streaming server
After=syslog.target
After=network.target
After=nginx.service

[Service]
Type=notify
User=my.user.name
Group=my.group.name
WorkingDirectory=/var/www/my.streaming.server/StreamDude/StreamDude
ExecStart=/var/www/my.streaming.server/StreamDude/StreamDude/StreamDude -d -r rtsp://127.0.0.1:5544/ -u /StreamDude -x my.streaming.server
Restart=always
RestartSec=30s
TimeoutStopSec=10s
RemainAfterExit=false
Environment=USER=my.user.name HOME=/var/www/my.streaming.server/StreamDude/StreamDude

[Install]
WantedBy=multi-user.target
